.faq-section_wrapper {
    padding-left: 80px;
    padding-right: 80px;
}
h2.faq-section_title {
    color: #0C223F;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 16px;
}
p.faq-section_description {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 32px;
    max-width: 340px;
}
.faq-section-block_flex {
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-section-block_container {
    border-radius: 8px;
    border: 0.5px solid rgba(68, 70, 79, 0.20);
    background: rgba(223, 245, 238, 0.40);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    width: 839px;
    padding: 16px 20px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.3s ease;
}
button.faq-section-block_question {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: none;
    color: #0c223f;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: left;
}
.faq-section-block_answer {
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: justify;
}
.faq-section-block_container.open-answer .faq-section-block_answer {
  margin-top: 16px;
}
a.faq-section_btn {
    border-radius: 48px;
    background: #0c223f;
    text-decoration: none;
    width: 197px;
    height: 56px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    z-index: 0;
    isolation: isolate;
    transition: color .4s ease;
    margin: 16px auto 0;
}
a.faq-section_btn:hover {
    color: #0c223f;
}
a.faq-section_btn:hover::before {
    width: 100%;
}
a.faq-section_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 2000px;
    background: #f7f7f5;
    border: 1px solid #0c223f;
    transition: width .5s ease;
    z-index: -1;
}

@media screen and (min-width: 750px) and (max-width: 1200px) { 
    .faq-section_wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    h2.faq-section_title {
        font-size: 34px;
        margin: 0 0 12px;
    }
    p.faq-section_description {
        font-size: 14px;
        margin: 0 auto 28px;
        max-width: 270px;
    }
    .faq-section-block_flex {
        padding: 20px;
        gap: 16px;
    }
    .faq-section-block_container {
        width: 625px;
        padding: 14px 18px;
    }
    button.faq-section-block_question {
        font-size: 18px;
    }
    .faq-section-block_answer {
        font-size: 16px;
    }
    .faq-section-block_container.open-answer .faq-section-block_answer {
        margin-top: 12px;
    }
}

@media screen and (max-width: 750px) {
    .faq-section_wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
    h2.faq-section_title {
        font-size: 24px;
        margin: 0 0 8px;
    }
    p.faq-section_description {
        font-size: 14px;
        margin: 0 auto 28px;
    }
    .faq-section-block_flex {
        padding: 0;
        gap: 16px;
    }
    .faq-section-block_container {
        width: 343px;
        padding: 16px;
    }
    button.faq-section-block_question {
        font-size: 16px;
    }
    .faq-section-block_answer {
        font-size: 14px;
    }
    .faq-section-block_container.open-answer .faq-section-block_answer {
        margin-top: 10px;
    }
}


